<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
td
{
    padding:0 15px 0 15px;
}

    </style>
</head>
<body style="font-family:Helvetica">

<table>
    <tr>
        <td>
            <b>Which of the following are Canadian provincial capitals?</b><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Ottawa <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Vancouver <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Saint John <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. Halifax <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. Calgary <br><br>
        </td>
        <td>
            <b>Which of the following can be found south of the equator?</b><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11. Jakarta<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12. Bogota<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13. Cairo<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;14. Auckland<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15. Damascus<br><br>
        </td>
    </tr>
    <tr>
        <td>
            <b>Which of the following cities have a population over one million?</b><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6. Toronto<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7. Barcelona<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8. Istanbul<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9. San Francisco<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp10. Canberra<br>
        </td>
        <td>
            <b>Which of the following are islands?</b><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;16. Andorra<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;17. Tobago<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;18. Malaysia<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;19. Maui<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;20. Bali<br>
        </td>
    </tr>
</table>
</body>
</html>