<head>
    <title>
        {{ COURSE_NAME }} Quiz Form
    </title>
</head>

<body style="font-family:helvetica">
<h1 style="background-color:dodgerblue; color:white; font-family:helvetica; font-size:200%; text-align:center; padding:10px">
    {{ COURSE_NAME }} Quiz Form</h1>
<p style="text-align:center">Your answers have been submitted. Thank you.</p>
<div style="text-align:center">
    Grades can be viewed
    <a href="/handback/{{student_id}}">here</a>
    once they have been released by the instructor.
</div>

</body>
