<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
td
{
    padding:0 15px 0 15px;
}

    </style>
</head>
<body style="font-family:Helvetica">

<table>
    <tr>
        <td>
            <b>Which of the following shows premiered in the 90s?</b><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Friends <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Seinfeld <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Buffy the Vampire Slayer <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. That ‘70s Show <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. The Simpsons <br><br>
        </td>
        <td>
            <b>Which of the following shows have plots revolving around doctors?</b><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11. Private Practice<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12. House<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13. Veep<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;14. Angel<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15. Scandal<br><br>
        </td>
    </tr>
    <tr>
        <td>
            <b>Which of the following shows have won the Emmy for Best Comedy Series?</b><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6. Parks and Recreation<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7. 30 Rock<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8. The Golden Girls <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9. Brooklyn Nine-Nine<br>
            &nbsp;&nbsp;&nbsp;&nbsp;10. Veep<br>
        </td>
        <td>
            <b>Who has both directed and starred in episodes of the same show?</b><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;16. Kerry Washington<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;17. David Schwimmer<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;18. Hugh Laurie<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;19. Neil Patrick Harris<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;20. Chandra Wilson<br>
        </td>
    </tr>
</table>
</body>
</html>